.body {
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
  background-color: #000;
}

.hero-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  max-height: 780px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.heading {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}

.paragraph {
  position: fixed;
  margin-top: 52.5vh;
  padding-top: 3px;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  color: #fff;
  font-size: 1.8vh;
  line-height: 1em;
  text-align: left;
  text-decoration: none;
}

.div-block {
  height: 100vh;
}

.text-block {
  margin-top: -14vh;
  margin-left: -1vw;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  color: #fff;
  font-size: 80vh;
  line-height: 1em;
}

.div-block-2 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
}

.div-block-3 {
  height: 48.5vh;
}

.background-video {
  height: 790px;
}

@media screen and (max-width: 767px) {
  .hero-overlay {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 479px) {
  .centered-container {
    text-align: left;
  }
}